h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
div,
span {
  font-family: 'Poppins', sans-serif;
}

.container-header {
  padding: 0px 80px;
}

.navbar {
  margin-bottom: 0;
  background-color: #000;
  z-index: 11;
  border: 0;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0px;
}

.navbar .navbar-brand {
  padding: 0px;
  margin: 14px 0px;
}

.navbar .navbar-brand img {
  width: 102px;
  margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar li a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.5px;
  margin: 14px 0px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #0b0b0b00 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.dropdown-menu {
  background-color: #000 !important;
  border: 1px solid #000;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1
}

.dropdown-menu li a:hover {
  color: #000 !important
}

.contact-us {
  background: #000;
  border-radius: 60px;
  padding: 5px 23px !important;
  color: #39AB1D !important;
  font-weight: 700 !important;
  margin-top: 25px !important;
  border: 3px solid #fff;
}

.section-1 {
  background-color: #071013;
  background-image: url(../image/section1-image.png);
  background-repeat: no-repeat;
  padding-top: 19px;
  margin-top: 78px;
  background-size: cover;
  height: 600px;
  padding-bottom: 70px;

}

.p-r-0 {
  padding-right: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.upcoming-img {
  width: 100%;
  border-radius: 10px;
  margin: 0px 0px 60px 0px
}

.upcomg-wrap {
  display: flex;
}

.section-1 .discount {
  color: #fff;
  font-size: 11px;
  margin-top: 100px;
  margin-left: 100px;
}

.section-1 h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  line-height: 67px;
  margin-left: 100px;
}

.section-1 .join {
  font-size: 12px;
  color: #8E8E8E;
  font-weight: 600;
  margin-left: 100px;
}


.section-2 {
  background-image: linear-gradient(to right, #1b4345, #090909);
}

.event-box {
  height: 100%;
  padding-left: 20px;
}

.title {
  color: #FFF;
  font-size: 24.931px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  text-align: center;
  padding: 50px 0px 36px 0px;
}

.section-2 .event-box h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.section-2 .event-box p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.event-box-button {
  background-color: #353535;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 45px;
  border-radius: 60px;
  border: 3px solid #39AB1D;
  color: #fff;
  margin-top: 50px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.section-3 {
  background-color: #090909;
}

.heading {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  padding-top: 40px;
}

.sub-heading {
  font-size: 12px;
  font-weight: 400;
  color: #8E8E8E;
  text-align: center;
}

.what-gpt {
  padding: 13px;
  font-size: 20px;
}

.answer {
  padding: 27px 59px;
  line-height: 27px;
  background: #000;
  font-size: 16px;
}

.enterQues {
  width: 100%;
  height: 36px;
  background: #000;
  border: none;
  margin-top: 145px;
  font-size: 14px;
  padding-left: 10px;
}

.inputWrapper {
  position: relative;
}

.send {
  position: absolute;
  bottom: 10px;
  right: 12px;
}

.w-100 {
  width: 100%;
}

.section-3 .flag-gpt {
  color: #fff;
  font-size: 11px;
  background-color: #232323;
  background-image: url(../image/gpt.png);
  background-repeat: no-repeat;
  min-height: 400px
}

.section-4 {
  background-image: linear-gradient(to bottom right, #090909, #35553d);
}

.section-5 {
  background-color: #090909;
}

.incubator-section {
  background-image: linear-gradient(to left, #232424, #232424);
  border-radius: 10px;
  border: 1px solid #413f3f;
  padding: 34px 30px;
  width: 92%;
  margin-top: 30px;
}

.incubator-section .flag {
  color: #4DE3ED;
}

.incubator-section .incubator-pro {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.incubator-section .para {
  font-size: 12px;
  font-weight: 400;
  color: #ABABAB;
}

.incubator-section .price {
  color: #fff;
  font-size: 47px;
  font-weight: 600;
}

.incubator-section .details {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.background-color {
  background-color: #090909;
}

.section-6 .sub-points {
  display: flex;
}

.section-6 .sub-points h2 {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.iconWrap {
  align-items: center;
  display: flex;
  padding: 14px;
}

.section-6 .sub-points p {
  font-size: 11px;
  font-weight: 400;
  color: #8E8E8E;
}

.pitch-sub-head {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.section-7 .pitch-event-box {
  background: #151515;
  padding: 47px 13px;
  border-radius: 15px;
  width: 90%;
}

.pitch-event-box h2 {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.pitch-event-box p {
  font-size: 9px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.pitch-event-box img {
  display: block;
  margin: auto;
}

.section-8 .community h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.community p {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.m-t-40 {
  margin-top: 40px;
}

.section-9 .numbers h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.numbers p {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.section-10 .Flagpreneurs {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 60px;
}

.section-13 .queries-section {
  background-image: linear-gradient(to bottom right, #13111e, #3d3c43);
  padding: 5px 60px;
  border-radius: 15px
}

.footer .footer-para {
  font-size: 11px;
  font-weight: 400;
  color: gray;
  margin-top: 20px;
}

.footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.footer .fa {
  color: #fff;
}

.footer a {
  margin-right: 17px;
}

.email p {
  color: #fff;
  padding: 1px 168px;
}

/* .footer span {
  color: #fff;
} */

.m-t-50 {
  margin-top: 50px;
}

.footer img {
  margin-top: 15px;
}

.copyright-centre {
  border-top: 1px solid #4f4e4e;
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.faq-section {
  background-color: #090909;
  margin-top: 86px;
}

.faq-box {
  background-color: #fff;

}

.accordion {
  background-color: #fff;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 700;

}

.accordian .active,
.accordian .accordion:hover {
  background-color: #fff;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordian .active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}


/* About Us css start */
.about-us-mt {
  margin-top: 86px;
}

.about-us-box {
  background-color: #252525;
  width: 81%;
  margin: auto;
  margin-top: 20px;
}

.flex {
  display: flex;
}

.about-us-para h2{
  color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 50px 30px;
}

.about-us-para p{
  color: gray;
    font-size: 16px;
    font-weight: 400;
    padding: 60px 30px;
    border-left: 2px solid #fff;
}

.coming-soon-box {
  background-color: #252525;
  width: 75%;
  height: 265px;
}

.coming-soon-para h2 {
  color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;}

.coming-soon-para p {
  color: gray;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 45px 0px 30px
}

.coming-soon-button {
  background-color: #353535;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 60px;
    border: 1px solid #353535;
    color: #fff;
    margin-top: 10px;
    margin-left: 30px;
}

.intern-image img {
  width: 111%;
}

.blogs-title {
  color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

.queries-form .nft-form input {
  padding: 7px;
  border-radius: 7px;
  width: 100%;
  font-size: 17px;
  display: inline;
  border: 1px solid #8a8a90;
  box-sizing: border-box;
  background-color: #8a8a90;
  margin-top: 32px;
}

.queries-form .nft-form label {
  color: #fff;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.email-box input {
  padding: 7px;
  border-radius: 7px;
  width: 100%;
  font-size: 17px;
  display: inline;
  border: 1px solid #8a8a90;
  box-sizing: border-box;
  background-color: #8a8a90;
  margin-top: 32px;
}

/* .queries-form form {
  background-color: #a6ef67;
    padding: 30px;
       border-radius: 30px;
    width: 320px;
    float: right;
    margin-top: -340px;
    margin-right: 52px;
    margin-bottom: 62px;
} */